@font-face {
  font-family: 'IRANSansX-Light';
  src: url('./fonts/IRANSansX-Light.woff') format('woff');
}


*{
  font-family: 'IRANSansX-Light';
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  height: 200vh;
  font-family: 'IRANSansX-Light';
  text-transform: capitalize;
  background-color: rgb(212, 212, 212);
  
}